<?xml version="1.0"?>
<robot name="MemristorSmall">
    <ros2_control name="HardwareControl" type="system">
        <hardware>
            <plugin>mep3_driver::RobotHardwareInterface</plugin>
            <param name="kp_linear">150.0</param>
            <param name="ki_linear">7.0</param>
            <param name="kd_linear">2.0</param>

            <param name="kp_angular">40.0</param>
            <param name="ki_angular">1.1</param>
            <param name="kd_angular">20.0</param>

            <param name="update_rate">100.0</param>
        </hardware>
        <joint name="left_motor">
            <state_interface name="position" />
            <command_interface name="velocity" />
        </joint>
        <joint name="right_motor">
            <state_interface name="position" />
            <command_interface name="velocity" />
        </joint>
    </ros2_control>
</robot>
