<?xml version="1.0"?>
<robot name="Test">
    <link name="base_link" />
    <ros2_control name="HardwareControl" type="system">
        <hardware>
            <plugin>dynamixel_hardware/DynamixelHardware</plugin>
            <param name="usb_port">/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A50285BI-if00-port0</param>
            <param name="baud_rate">115200</param>
            <param name="use_dummy">false</param>
            <param name="offset">0.0</param>
            <param name="effort_average">2</param>
            <param name="torque_threshold">0.8</param>
            <param name="recovery_timeout">100</param>
        </hardware>
        <joint name="joint1">
            <param name="id">5</param>
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
    </ros2_control>
</robot>