<?xml version="1.0"?>
<robot name="BigRobot">
    <webots>
        <plugin type="webots_ros2_control::Ros2Control" />

        <plugin type="mep3_simulation.webots_cinch_driver.WebotsCinchDriver" />

        <plugin type="mep3_simulation.scoreboard_lcd_driver.ScoreboardLcdDriver" />

        <device reference="LDS-01" type="Lidar">
            <ros>
                <enabled>true</enabled>
                <updateRate>5</updateRate>
                <topicName>/scan</topicName>
                <alwaysOn>false</alwaysOn>
                <frameName>laser</frameName>
            </ros>
        </device>
    </webots>
    <ros2_control name="JointControl" type="system">
        <hardware>
            <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
        </hardware>
        <joint name="left_motor">
            <state_interface name="position" />
            <command_interface name="velocity" />
            <param name="sensor">left_encoder</param>
        </joint>
        <joint name="right_motor">
            <state_interface name="position" />
            <command_interface name="velocity" />
            <param name="sensor">right_encoder</param>
        </joint>
        <joint name="arm_joint">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <state_interface name="position" />
        </joint>
    </ros2_control>
    <ros2_control name="PumpControl" type="system">
        <hardware>
            <plugin>mep3_simulation::Mep3WebotsHardwareInterface</plugin>
        </hardware>
        <gpio name="pump">
            <command_interface name="output" />
        </gpio>
    </ros2_control>
</robot>
