<?xml version="1.0"?>
<robot name="cam_central">
    <webots>
        <device type="Camera">
            <ros>
                <enabled>true</enabled>
                <updateRate>1</updateRate>
                <topicName>/cam</topicName>
                <alwaysOn>true</alwaysOn>
                <frameName>cam0</frameName>
            </ros>
        </device>
    </webots>
</robot>

