<?xml version="1.0"?>
<robot name="BigRobot">
    <webots>
        <plugin type="webots_ros2_control::Ros2Control" />

        <plugin type="mep3_simulation.webots_replica_driver.WebotsReplicaDriver" />
        <plugin type="mep3_simulation.webots_statuette_driver.WebotsStatuetteDriver" />

        <plugin type="mep3_simulation.webots_dynamixel_driver.WebotsDynamixelDriver">
            <namespace>big</namespace>
            <motorName>lift_motor</motorName>
            <gearRatio>0.1575</gearRatio>
        </plugin>

        <plugin type="mep3_simulation.webots_dynamixel_driver.WebotsDynamixelDriver">
            <namespace>big</namespace>
            <motorName>arm_right_motor_base</motorName>
        </plugin>

        <plugin type="mep3_simulation.webots_dynamixel_driver.WebotsDynamixelDriver">
            <namespace>big</namespace>
            <motorName>arm_left_motor_base</motorName>
        </plugin>

        <plugin type="mep3_simulation.webots_dynamixel_driver.WebotsDynamixelDriver">
            <namespace>big</namespace>
            <motorName>arm_right_motor_mid</motorName>
        </plugin>

        <plugin type="mep3_simulation.webots_dynamixel_driver.WebotsDynamixelDriver">
            <namespace>big</namespace>
            <motorName>arm_left_motor_mid</motorName>
        </plugin>

        <plugin type="mep3_simulation.webots_dynamixel_driver.WebotsDynamixelDriver">
            <namespace>big</namespace>
            <motorName>arm_right_motor_gripper</motorName>
        </plugin>

        <plugin type="mep3_simulation.webots_dynamixel_driver.WebotsDynamixelDriver">
            <namespace>big</namespace>
            <motorName>arm_left_motor_gripper</motorName>
        </plugin>

        <plugin type="mep3_simulation.webots_vacuum_pump_driver.WebotsVacuumPumpDriver">
            <namespace>big</namespace>
            <connectorName>arm_right_connector</connectorName>
        </plugin>

        <plugin type="mep3_simulation.webots_vacuum_pump_driver.WebotsVacuumPumpDriver">
            <namespace>big</namespace>
            <connectorName>arm_left_connector</connectorName>
        </plugin>

        <plugin type="mep3_simulation.webots_dynamixel_driver.WebotsDynamixelDriver">
            <namespace>big</namespace>
            <motorName>hand_right_Dz</motorName>
        </plugin>

        <plugin type="mep3_simulation.webots_dynamixel_driver.WebotsDynamixelDriver">
            <namespace>big</namespace>
            <motorName>hand_right_G</motorName>
        </plugin>

        <plugin type="mep3_simulation.webots_dynamixel_driver.WebotsDynamixelDriver">
            <namespace>big</namespace>
            <motorName>hand_left_Dz</motorName>
        </plugin>

        <plugin type="mep3_simulation.webots_dynamixel_driver.WebotsDynamixelDriver">
            <namespace>big</namespace>
            <motorName>hand_left_G</motorName>
        </plugin>

        <plugin type="mep3_simulation.webots_dynamixel_driver.WebotsDynamixelDriver">
            <namespace>big</namespace>
            <motorName>hand_mid_L</motorName>
        </plugin>

        <plugin type="mep3_simulation.webots_dynamixel_driver.WebotsDynamixelDriver">
            <namespace>big</namespace>
            <motorName>hand_mid_S</motorName>
        </plugin>

        <plugin type="mep3_simulation.webots_cinch_driver.WebotsCinchDriver" />
        
        <plugin type="mep3_simulation.resistance_meter_driver.ResistanceMeterDriver">
            <namespace>big</namespace>
            <measuringSide>left</measuringSide>
        </plugin>

        <plugin type="mep3_simulation.resistance_meter_driver.ResistanceMeterDriver">
            <namespace>big</namespace>
            <measuringSide>right</measuringSide>
        </plugin>

        <plugin type="mep3_simulation.scoreboard_lcd_driver.ScoreboardLcdDriver" />

        <device reference="LDS-01" type="Lidar">
            <ros>
                <enabled>true</enabled>
                <updateRate>5</updateRate>
                <topicName>/scan</topicName>
                <alwaysOn>false</alwaysOn>
                <frameName>laser</frameName>
            </ros>
        </device>
    </webots>
    <ros2_control name="HardwareControl" type="system">
        <hardware>
            <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
        </hardware>
        <joint name="left_motor">
            <state_interface name="position" />
            <command_interface name="velocity" />
        </joint>
        <joint name="right_motor">
            <state_interface name="position" />
            <command_interface name="velocity" />
        </joint>
    </ros2_control>
</robot>
