on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]

jobs:
  linter:
    name: Python linter
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        linters: [flake8, pep257, xmllint]
        packages: [mep3_simulation, mep3_robot]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install ROS2
        uses: ros-tooling/setup-ros@v0.2
      - name: Run linter ${{ matrix.linters }} for package ${{ matrix.packages }}
        uses: ros-tooling/action-ros-lint@v0.1
        with:
          distribution: foxy
          linter: ${{ matrix.linters }}
          package-name: ${{ matrix.packages }}
